.checkout{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
height:auto;
padding-bottom: 20px;
}


.checkout-hader{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5%;
    width: 100%;
}

.checkout-after-hader{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap:10px;
width: 100%;
background-color: rgb(240, 237, 234);
height: auto;
padding-left: 10px;
padding-bottom: 90px;
padding-top: 6%;
}
.checkout-after-hader-img{
    width: 72%;
    height: 125px;
    object-fit: contain;
    margin-top: -146px;
    position: fixed;
  
    
}


.checkout-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding-left:15px;
    padding-top:5px ;
    width: 370px;
    height:270px;
    
}


.checkout-product-title{
    font-size:20px;
    color: black;}

.checkout-product-prix{
    font-size:20px;
      color: black;

}

.remov-button{
    width: 120px;
    height: 26px;
    background-color: rgb(255, 81, 0);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    cursor: pointer;
}
.checkout-product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center ;
}
.checkout-product-image{
    margin-top:5px;
    width: 90%;
    height: 40%;
    object-fit: contain;

}

@media only screen and (max-width: 400px) {

.checkout-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding-left: 15px;
    padding-top: 5px;
    width: 90%;
    height: 180px;
}

.checkout-product-title {
    font-size: 11px;
    color: black;
}



.checkout-after-hader-img {
    width: 74%;
    height: 24px;
    object-fit: contain;
    margin-top: -10%;
    margin-left: -3%;

}

.checkout-hader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20%;
}

}




