.header{
    background:rgb(255, 255, 255);
    height: 70px;
   width:100%;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items:center ;
   border-bottom: solid 1.5px rgb(79, 79, 79);
   position: fixed;
   gap: 0;
   z-index: 11111;
}
.header-logo{
    width:20%;
    height:100%;
    /* border-radius:50%; */
    text-decoration: none;
    /* border: solid 1px black; */
    color: #ff4000;
      

}
.header-logo span {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
}
.header-logo  p {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 200;}


.search-icon{
    color: rgb(255, 255, 255);
    width: 5%;
    height: 101%;
    background-color: rgb(255, 98, 0);
    border-radius: -1px 0px 0px 0px;
}
.search-input{
    width:80%;
    height: 98%;
     border: none;
    outline: none;
    font-weight: 300;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 50px 50px 50px 50px;


 }
 .sarch{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: row;
     width: 55%;
     height: 50%;
     border: solid #ff9a00 1.4px;
     border-radius: 50px 50px 50px 50px;

 }

 .sarch-BiCamera{
    width: 3.3%;
    height: 100%;
    opacity: 0.66;
    margin-right: 5px;
 }
.sarch-button{
    width: 15%;
    height: 100.2%;
    border-color: #ff9a00;
    color: rgb(255, 255, 255);
    margin: -0.1%;
    font-weight:550;
    border: none;
   border-bottom-right-radius: 50px;
   border-top-right-radius:50px ;
   text-align: center;
   font-size: medium;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 5%;
   background-color: rgb(255, 98, 0);
}

 .headrs-Links{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content:flex-start;
     /* border: solid 2px black; */
     width:25%;
     height: 99%;
     gap: 2%;
 }
 .header-link{
    width: 25%;
    height: 100%;
    text-decoration: none;
}
 .header-option{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   color: rgb(51, 51, 51); 
   gap: 0;
 }

.header-option span{
    width: 80%;
    height:auto;
padding-top: 10%;
text-align: center;padding-top: 0;
}
.option-icon{
    width: 27%;
    height: auto;
    }
    .userphoto{
        width: 45%;
        height: 55%;
        border-radius: 50%;
        object-fit: contain;
    }

.span-cart{
    margin-bottom:-11px;
    font-size: 23px;
}

.home{display: none;}
.Cart{
    width: 36%;
    height: auto;
}
@media only screen and (max-width: 400px) {
    .header{margin-top: -1%;}  
  .header-category {
      display: none;
    }
    .home{display: flex;}
    .bas{   
        display: flex;
       z-index: 1123;
       position: absolute;
       margin-top: -170%;
       margin-left:3%;
       border-radius: 50%;
       border:none;
       width: 20%;
       height: 48%;
       opacity: 0.9;
    background-color:rgb(255 168 94);}
    .headrs-Links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        /* border: solid 2px black; */
        width: 100%;
        height: 10%;
        grid-gap: 2%;
        gap: 2%;
        position: fixed;
        /* bottom: -246%; */
        z-index: 234;
        bottom: 0%;
        border: solid orange 2px;
        background: #ff9a00;
    }
    .sarch{
        width:69%;
        margin-right: 1%;
    }
    .sarch-button{
        display: none;
    }

    .header-logo{
        width: 30%;
    }
    .search-icon {
        color: rgb(255, 255, 255);
        width: 12%;
        height: 101%;
        background-color: rgb(255, 98, 0);
        border-radius: 0px 50px 50px 0px;
    }


    .header-logo span{
width: 90%;
font-size: 16px;
    }

 .header-logo p{
    font-size: 16px;

 }
    
    .sarch-BiCamera {
        width: 8.3%;
        height: 57%;
        opacity: 0.66;
        margin-right: -1px;
    }
  

  }





